/* Master styles */
body {
  background-color: #001816;
  margin: 0px;
  font-family: "Play", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
/*name*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow Condensed", Courier, monospace;
  color: tan;
  font-size: 1.5em;
}
/*home, about*/
.left-side {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.left-side a {
  text-decoration: none;
  color: tan;
}
/*main*/
.content-wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center center;
  min-height: 25%;
  width: fill;
  height: 300px;
}

.iphoto {
  height: 100px;
  filter: invert(50%) sepia(100%);
}