/* Master styles */
body {
  background-color: #001816;
  margin: 0px;
  font-family: "Play", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
/*name*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow Condensed", Courier, monospace;
  color: tan;
  font-size: 1.5em;
}
/*home, about*/
.left-side {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.left-side a {
  text-decoration: none;
  color: tan;
}
/*main*/
.content-wrapper {
  margin: auto;
  width: 100%;
}

.img-text-wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  border-style: dashed;
}

.portfolio-img-background {
  height: 300px;
}