/* Master styles */
body {
  background-color: #001816;
  margin: 0px;
  font-family: "Play", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
/*name*/
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  font-family: "Barlow Condensed", Courier, monospace;
  color: tan;
  font-size: 1.5em;
}
/*home, about*/
.left-side {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.left-side a {
  text-decoration: none;
  color: tan;
}
/*main*/
.content-wrapper {
  margin: auto;
  width: 100%;
}

.portfolio-item-wrapper {
  height: 200px;
  border-style: solid;
  border-color: blueviolet;
}

.img-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 100px;
}